body{
    background: rgba(0,0,0,0.68);
    background: linear-gradient(179deg,rgba(0,0,0,0.68) 0%, rgba(246,224,224,0.73) 80%);
    background: -webkit-linear-gradient(179deg,rgba(0,0,0,0.68) 0%, rgba(246,224,224,0.73) 80%);
    background: -moz-linear-gradient(179deg,rgba(0,0,0,0.68) 0%, rgba(246,224,224,0.73) 80%);
    font-family: Arial, sans-serif;
}

.content{
    text-align: start;
    margin-top: 200px;
    padding: 100px 50px;
    justify-content: center;
    height: 500px;
}

.buton{
    background-color:greenyellow;
    width: 100px;
}


.buton a{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.kata h1 , h3{
  padding-bottom: 10px;
}

button{
    transition: 0.3s;
}

button:hover{
    background-color: rgb(119, 207, 119);
}

